@model string

<div class="support-nav">
    <a  asp-controller="Support" asp-action="Warranty" class="@(Model == "warranty" ? "active" : null)">
        <i class="bi bi-shield-check"></i> Chính sách đổi trả
    </a>
    <a  asp-controller="Support" asp-action="Shipping" class="@(Model == "shipping" ? "active" : null)">
        <i class="bi bi-truck"></i> Vận chuyển
    </a>
    <a  asp-controller="Support" asp-action="Faq" class="@(Model == "faq" ? "active" : null)">
        <i class="bi bi-question-circle"></i> Câu hỏi thường gặp
    </a>
</div>
